<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        
        <div>
            <div v-for="(chat, index) in chats" :key="index">   
                <label>{{ chat.name}} : </label>
                <span>{{ chat.msg}}</span>
            </div>
        </div>


        <form @submit.prevent="createPost">
            <input type="text" v-model="message" placeholder="Write message.."/>
            <button type="submit">Send</button>
        </form>

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        let  socket = io()
        const app = Vue.createApp({
            el: '#app',
            data(){
                return {
                    message:'',
                    chats: []
                }
            },
            created(){
                socket.on('refreshChat', data => {
                    this.chats = data
                })
            },
            methods:{
                createPost(){
                    socket.emit('message', {name : 'username', msg:this.message})
                }
            }
        })
        app.mount('#app')
    </script>

</body>
</html>